<div class="center jumbotron">
  We got tired of showing up to restaurants and not having a good idea what the wait times would be. Our goal is to save you time by knowing up date information about the wait times at restaurants. 

  Idea from Alyssa Dalsky, built by Jake Bruemmer as a first <%= link_to "Rails", "http://rubyonrails.org/" %> project.
</div>
